            <div id="eidlogin-settings-wizard-panel-help" class="container panel hidden">
                <h3>Info</h3>
                <div class="row">
                    <div class="col-12">
                        <h4><b><f:translate id="be_tpl_wiz_head_1"/></b></h4>
                        <p>
                            <f:translate id="be_tpl_wiz_txt_1"/>
                            <b><f:translate id="be_tpl_wiz_txt_2"/></b>
                            <f:translate id="be_tpl_wiz_txt_3"/>
                            <a target="_blank" href="https://www.personalausweisportal.de/Webs/PA/DE/buergerinnen-und-buerger/online-ausweisen/online-ausweisen-node.html"><f:translate id="be_tpl_wiz_txt_4"/></a>
                            <f:translate id="be_tpl_wiz_txt_5"/>
                            <f:translate id="be_tpl_wiz_txt_6"/><b>eID-Client</b><f:translate id="be_tpl_wiz_txt_7"/>
                        </p>
                        <p>
                            <f:translate id="be_tpl_wiz_txt_8"/>
                        </p>
                        </br>
                        <p>
                            <b>
                                <f:translate id="be_tpl_wiz_txt_9"/>
                            </b>
                            <f:translate id="be_tpl_wiz_txt_10"/>
                            <a target="_blank" href="https://www.personalausweisportal.de/SharedDocs/faqs/Webs/PA/DE/Haeufige-Fragen/9_pseudonymfunktikon/pseudonymfunktion-liste.html"><f:translate id="be_tpl_wiz_txt_11"/></a>
                            <f:translate id="be_tpl_wiz_txt_12"/>
                            <f:translate id="be_tpl_wiz_txt_13"/>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4><b><f:translate id="be_tpl_wiz_head_2"/></b></h4>
                        <p>
                            <f:translate id="be_tpl_wiz_txt_14"/><a target="_blank" href="{skid_url}">SkIDentity Service</a><f:translate id="be_tpl_wiz_txt_15"/>
                            <a target="_blank" href="https://sp.skidentity.de/"><f:translate id="be_tpl_wiz_txt_16"/></a>
                            <f:translate id="be_tpl_wiz_txt_17"/>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4><b><f:translate id="be_tpl_wiz_head_3"/></b></h4>
                        <p>
                            <f:translate id="be_tpl_wiz_txt_18"/>
                            <a target="_blank" href="https://www.bsi.bund.de/DE/Themen/Unternehmen-und-Organisationen/Standards-und-Zertifizierung/Technische-Richtlinien/TR-nach-Thema-sortiert/tr03130/TR-03130_node.html">BSI TR-03130</a>
                            <f:translate id="be_tpl_wiz_txt_19"/>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4><b><f:translate id="be_tpl_wiz_head_4"/></b></h4>
                        <p>
                            <f:translate id="be_tpl_wiz_txt_20"/>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <f:image src="EXT:eidlogin/Resources/Public/Images/saml-typo3.png" alt="SAML Diagram"/>
                    </div>
                    <div class="col-6">
                        <p>
                            <f:translate id="be_tpl_wiz_txt_21"/>
                        </p>
                        <br/>
                        <ul>
                            <li><b>Service Provider (SP):</b>&nbsp;<f:translate id="be_tpl_wiz_txt_22"/></li>
                            <li><b>Identity Provider (IdP):</b>&nbsp;<f:translate id="be_tpl_wiz_txt_23"/>&nbsp;<a href="{skid_url}" target="_blank">SkIDentity Service</a>.</li>
                        </ul>
                        <br/>
                        <p><f:translate id="be_tpl_wiz_txt_24"/></p>
                        <ol>
                            <li><f:translate id="be_tpl_wiz_txt_25"/></li>
                            <li><f:translate id="be_tpl_wiz_txt_26"/></li>
                            <li><f:translate id="be_tpl_wiz_txt_27"/></li>
                            <li><f:translate id="be_tpl_wiz_txt_28"/></li>
                            <li><f:translate id="be_tpl_wiz_txt_29"/></li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-2 right">
                        <button id="eidlogin-settings-button-close-help" data-help="help" class="step"><f:translate id="be_tpl_wiz_txt_close"/></button>
                    </div>
                </div>
            </div>